*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.main .Form #mainForm .MainSelect {
  display: flex;
  width: 400px;
  margin: 2% auto;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  text-align-last: center;
  color: rgb(90, 90, 22);
}

.main .Form #mainForm {
  width: 80%;
  margin: auto;
}

.main .Form .row {
  background-color: aliceblue;
  opacity: 0.5;
}

.main .Form #mainForm .MainSelect option {
  color: rgb(90, 90, 22);
}

.main .Form #mainForm h3 {
  text-align: center;
}
