#button-start {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: auto;
  height: 200px;
  width: 200px;
  background-color: red;
  border-radius: 100%;
  box-shadow: 10px 10px #888888;
  transition: background-color 1s, box-shadow 1s;
}

#button-start:hover {
  background-color: rgb(191, 70, 70);
  box-shadow: 5px 5px #888888;
  cursor: pointer;
}

#button-start h2 {
  margin: auto;
  display: block;
}
