.main .MultipleQuestion .btn {
  width: 75%;
  margin: auto;
  background-color: salmon;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}

.main .MultipleQuestion .btn:hover {
  background-color: rgb(186, 133, 127);
  box-shadow: 2px 2px #888888;
}

.main .MultipleQuestion .btn h3 {
  text-align: center;
}

.main .MultipleQuestion #question {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: salmon;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}

.main .MultipleQuestion #question h3 {
  text-align: center;
}

.main .MultipleQuestion #continue {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: salmon;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}

.main .MultipleQuestion #continue:hover {
  background-color: rgb(186, 133, 127);
  box-shadow: 2px 2px #888888;
}
